@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navigation-item {
  @apply p-2 my-2 font-bold text-black text-8xl hover:bg-black hover:text-red-600;
}

.background-circles {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='500' preserveAspectRatio='none' viewBox='0 0 400 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1057%26quot%3b)' fill='none'%3e%3cpath d='M61.485%2c439.789C74.519%2c439.466%2c86.288%2c433.065%2c93.439%2c422.163C101.452%2c409.945%2c106.252%2c394.72%2c99.567%2c381.728C92.405%2c367.809%2c77.124%2c359.406%2c61.485%2c360.06C46.803%2c360.674%2c35.593%2c371.802%2c28.549%2c384.699C21.842%2c396.98%2c19.481%2c411.81%2c26.661%2c423.82C33.684%2c435.568%2c47.802%2c440.129%2c61.485%2c439.789' fill='rgba(239%2c 68%2c 68%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M239.994%2c488.522C270.491%2c485.777%2c293.998%2c463.758%2c308.208%2c436.635C321.3%2c411.646%2c322.496%2c382.194%2c308.547%2c357.673C294.441%2c332.877%2c268.521%2c316.934%2c239.994%2c316.724C211.103%2c316.511%2c186.152%2c332.921%2c169.668%2c356.649C149.833%2c385.201%2c130.228%2c420.504%2c146.587%2c451.18C163.498%2c482.892%2c204.2%2c491.743%2c239.994%2c488.522' fill='rgba(239%2c 68%2c 68%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M409.321%2c317.925C437.947%2c318.327%2c459.973%2c296.556%2c475.21%2c272.318C491.81%2c245.912%2c507.806%2c213.429%2c491.865%2c186.62C476.111%2c160.125%2c440.137%2c160.756%2c409.321%2c161.509C380.324%2c162.218%2c347.953%2c165.353%2c333.48%2c190.49C319.025%2c215.595%2c331.744%2c245.619%2c346.559%2c270.513C360.931%2c294.662%2c381.222%2c317.531%2c409.321%2c317.925' fill='rgba(239%2c 68%2c 68%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M111.674%2c153.158C140.288%2c152.121%2c161.6%2c130.213%2c176.147%2c105.551C191%2c80.37%2c203.156%2c49.242%2c187.551%2c24.52C172.531%2c0.726%2c139.795%2c2.445%2c111.674%2c3.413C85.896%2c4.3%2c58.875%2c8.145%2c44.336%2c29.45C27.965%2c53.439%2c24.682%2c85.027%2c38.567%2c110.536C53.021%2c137.09%2c81.461%2c154.253%2c111.674%2c153.158' fill='rgba(239%2c 68%2c 68%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1057'%3e%3crect width='400' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
